@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .App-logo {
    pointer-events: none;
    animation: App-logo-spin infinite 10s linear;
  }
  @keyframes App-logo-spin {
    0% {
      transform: scale(1) perspective(1040px) rotateY(-10deg) rotateX(2deg)
        rotate(2deg);
    }
    50% {
      transform: scale(1) perspective(1040px) rotateY(10deg) rotateX(4deg)
        rotate(-2deg);
    }
    100% {
      transform: scale(1) perspective(1040px) rotateY(-10deg) rotateX(2deg)
        rotate(2deg);
    }
  }

  .block-1 {
    display: hidden;
    background-color: red;
  }
  .block-2 {
    display: block;
  }
  a {
    @apply text-[black];
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-[black];
  }
  .text-gradient-custom-1 {
    @apply bg-clip-text bg-gradient-to-r from-[#1f4efe] to-[#FB2576];
  }
  .text-gradient-custom-1-rev {
    @apply bg-clip-text bg-gradient-to-r from-[#FB2576] to-[#1f4efe];
  }
  .zoom {
    transform: translateZ(0);
    z-index: -100;
    overflow: hidden;
  }
  .zoom img {
    transition: transform 0.5s linear;
    opacity: 0.15;
  }
  .zoom:hover img {
    opacity: 0.2;
    transform: scale(1.1);
    animation-duration: 3s;
  }

  .custom-btn1 {
    /* width: 130px; */
    /* height: 40px; */
    color: #fff;
    border-radius: 2px;
    padding: 7px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
  }

  .btn-1 {
    background: rgba(255, 183, 102, 0.2);
    border: 1px solid rgba(255, 183, 102, 1);
    z-index: 1;
  }

  .btn-1:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: rgba(255, 183, 102, 1);
    border-radius: 2px;

    transition: all 0.3s ease;
  }
  .btn-1:hover {
    color: #fff;
  }
  .btn-1:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-1:active {
    top: 2px;
  }

  /* btn-2 */
  .btn-2 {
    background: rgba(255, 183, 102, 1);
    border: 1px solid rgba(255, 183, 102, 1);
    z-index: 1;
  }

  .btn-2:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #fca747;
    border-radius: 2px;

    transition: all 0.3s ease;
  }
  .btn-2:hover {
    color: #fff;
  }
  .btn-2:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-2:active {
    top: 2px;
  }

  .nav-link {
    text-decoration: none;
    color: #031d44;
    padding: 15px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
  }

  .nav-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #ffb766;
  }

  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }

  .nav-link-ltr:hover::before {
    width: 100%;
  }
}
